<html>
 <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
 </head>
 <body>
    <div class="container">
        <h1>Listado de Libros</h1>
        <div>
            <!-- Aquí mostraremos el listado -->
        </div>
    </div>
 </body>
</html>
